opencv-python==4.10.0.84
python-multipart==0.0.9
torch==2.2.0
torchvision==0.17.0
transformers==4.44.2
torchvision==0.17.0
numpy==1.24.4
torchserve==0.12.0
torch-model-archiver==0.12.0
torch-workflow-archiver==0.2.15
pillow==11.0.0
pillow-avif-plugin==1.4.6
pillow-jxl-plugin==1.2.8
pillow_heif==0.20.0