build/
dist/
*pyc
*__pycache__*
*.egg-info/
.idea
*htmlcov*
.coverage
.github/actions/
.github/.DS_Store
.DS_Store
plugins/endpoints/src/main/main.iml
serving-sdk/src/main/main1.iml
serving-sdk/src/test/test2.iml
frontend/server/src/main/java/org/pytorch/serve/grpc/
