build/
dist/
*pyc
*__pycache__*
*.egg-info/
.idea
*htmlcov*
.coverage
.github/actions/
.github/.DS_Store
.DS_Store
frontend/server/src/main/java/org/pytorch/serve/grpc/
*.pem
*.backup

# Postman files
test/artifacts/
test/logs/
test/model_store/
test/ts_console.log
test/config.properties

.vscode
.scratch/
