build/
dist/
ts/
*.egg-info/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
/target/
/.gitignore
/user-profile-analysis.iml
/.idea
/README.md
.DS_Store