# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @msaroufim @lxning @agunapal

# The 3 most dangerous folders to change are the following
# So do not merge code unless you are absolutely sure it works
# If you're unsure add more people to review
/ts/ @msaroufim @mreso
/frontend/ @lxning @min-jean-cho
/kubernetes/ @jagadeeshi2i @agunapal

# General owners of various directories
# Add more rules here as needed
/examples/ @HamidShojanazeri @agunapal
/test/ @mreso
.github @agunapal
/binaries @agunapal
/ts_scripts/ @mreso
/plugins/ @lxning
/docs/ @sekyondaMeta
/requirements/ @agunapal
/docker/ @agunapal
/benchmarks/ @lxning @agunapal
