# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @msaroufim @lxning @agunapal

# The 3 most dangerous folders to change are the following
# So do not merge code unless you are absolutely sure it works
# If you're unsure add more people to review
/ts/ @msaroufim @mreso @lxning
/frontend/ @lxning @min-jean-cho @mreso
/kubernetes/ @jagadeeshi2i @agunapal

# General owners of various directories
# Add more rules here as needed
/examples/ @HamidShojanazeri @agunapal
.github @agunapal @msaroufim
/binaries @agunapal @msaroufim
/ts_scripts/ @mreso @msaroufim
/plugins/ @lxning @mreso
/docs/ @sekyondaMeta @msaroufim
/requirements/ @agunapal @msaroufim
/docker/ @agunapal @msaroufim
/benchmarks/ @lxning @agunapal
