gevent==20.5.2
junitparser==1.4.1
git+https://github.com/maheshambule/vjunit.git#egg=vjunit
tqdm==4.40.0
pathlib==1.0.1
boto3==1.14.3
awscli==1.18.80
click==7.1.2
tabulate==0.8.7
pandas==1.0.3
termcolor==1.1.0
bzt== 1.14.2