on:
  push:
    branches:
      - master
jobs:
  build_docs_job:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
        architecture: x64
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Dependencies
      run: |
        git clone https://github.com/pytorch/pytorch_sphinx_theme
        pip install -e pytorch_sphinx_theme
        pip install -r ./docs/sphinx/requirements.txt
    - name: Build the docset
      run: |
        cd ./docs/sphinxexport
        make html
      id: build
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: docs/sphinx/build/html
          CLEAN_EXCLUDE: '["_config.yml"]'
