name: Lint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test changed-files
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

      - name: Install lint utilities
        run: |
          pip install pre-commit
          pre-commit install
          

      - name: Get specific changed files
        id: changed-files-specific
        uses: tj-actions/changed-files@v20.1
        with:
          files: | 
            **/*.py
  
      - name: Lint all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            pre-commit run --files $file
          done
          
      - name: Required modifications
        if: ${{ failure() }}
        run: git --no-pager diff
        


      
