name: Make an official release (dangerous script)

# Workflow can only be dispatched manually
on: 
  workflow_dispatch:
     inputs:
      releaseversion:
        description: 'Release version in x.y.z format'     
        required: true
      nightlydate:
        description: 'Nightly date in yyyy.mm.dd format'
        required: true

jobs:
  nightly:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64
      - name: Checkout TorchServe
        uses: actions/checkout@v2
      - name: Push nightly
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
          CONDA_NIGHTLY_TOKEN: ${{ secrets.CONDA_NIGHTLY_TOKEN }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: python binaries/official_release.py --nightly_date ${github.event.nightlydate} --official_release_version ${github.event.releaseversion} --no_dry_run